<link href="../templates/app_yaweather/css/usual.css" rel="stylesheet" type="text/css">

[#if FACT#]
	<h4>Cейчас</h4>
	[#begin FACT#]
		<div class="yaweather">
			<div class="info">
				<div class="icon"><img src="[#weatherIco#]"></div>
			<div class="temp">[#temperature#]°</div>
			</div>
			<div class="table"><table width="100%" border="0">
			  <tbody>
				<tr>
				  <td align="right"><#LANG_WIND#>&nbsp;[#windDirection#]</td>
				  <td align="left"><div align="right">[#windSpeed#]м/с</div></td>
				</tr>
				<tr>
				  <td align="right"><#LANG_HUMIDITY#>:</td>
				  <td align="left"><div align="right">[#humidity#]%</div></td>
				</tr>
				<tr>
				  <td align="right"><#LANG_PRESSURE#>:</td>
				  <td align="left"><div align="right">[#pressure#]</div></td>
				</tr>
			  </tbody>
			</table>
			</div>
			<div class="weather_type">[#weatherType#]</div>
		</div>
	[#end FACT#]
[#endif FACT#]

[#if FORECAST#]
	[#begin FORECAST#]
		<p><h4>[#date#]</h4></p>
		<div class="yaweather">
			<div class="wrapper">
				<div class="day">Днем</div>
				<div class="icon"><img src="[#day_short_weatherIco#]" ></div>
				<div class="temp">[#day_short_temperature#]°</div>
			</div>
			<div class="wrapper">  
				<div class="day">Ночью</div>
				<div class="icon"><img src="[#night_short_weatherIco#]" ></div>
				<div class="temp">[#night_short_temperature#]°</div>
			</div>
		</div>
	[#end FORECAST#]
[#endif FORECAST#]

