<p>Вызов модуля в меню:</p>
<p><b>&#091#module name="app_yaweather"#&#093 </b> - вывод сведений о текущей погоде</p>
<p><b>&#091#module name="app_yaweather"  forecast="0"#&#093 </b> - вывод сведений о текущей погоде и прогнозе на сегодня</p>
<p><b>&#091#module name="app_yaweather" fact="off" forecast="1"#&#093 </b> - вывод прогноза погоды на сегодня и завтра</p>
<p>fact="off" - не выводить сведения о текущей температуре</p>
<p>forecast="0" - прогноз погоды на сегодня</p>
<p>forecast="1" - прогноз погоды на сегодня и завтра</p>
<p>forecast="2" - прогноз погоды на сегодня, завтра и послезавтра</p>