<div class="row"><div class="col-md-12">
[#if CITY#]
	<table align=center class="table table-condensed">
	<tr>
	 <td align=center>
	   Id 
	 </td>
	 <td align=center>
	   Город 
	 </td>
	 <td>
	 </td>
	
	</tr>
	[#begin CITY#]
		<tr>
		 <td align=center>[#id#]</td>
		 <td align=center>[#name#]</td>
		 <td align=right><a href="?subm=getCityId&id=[#id#]" class="btn btn-default btn-sm" title="Изменить"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;<a href="?subm=delCity&id=[#id#]" class="btn btn-default btn-sm" title="Удалить" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><span class="glyphicon glyphicon-trash"></span></a></td>
		</tr>
	[#end CITY#]
	<tr>
	  <td colspan="4"><a href="?subm=getCityId&id=new" class="btn btn-default btn-sm" title="Добавить"><span class="glyphicon glyphicon-plus"></span> Добавить город</a></td>
	</tr>
	</table>
[#else CITY#]
<a href="?subm=getCityId&id=new" class="btn btn-default btn-sm" title="Добавить"><span class="glyphicon glyphicon-plus"></span> Добавить город</a>
[#endif CITY#]
</div></div>

<form action="?" method="get" class="form-horizontal" name="save_setting">

<div class="form-group">
	Получать прогноз	
	<div class="radio">
	<label>
		<input type="radio" name="forecastType" value="shot"[#if forecastType=="shot" || forecastType=="0"#] checked[#else#][#endif#]>
        Краткий 
    </label>
	</div>
	<div class="radio">
	<label>
		<input type="radio" name="forecastType" value="full"[#if forecastType=="full"#] checked[#else#][#endif#]>
        Полный
    </label>
	</div>
</div>

<div class="form-group">	
	<div class="checkbox">
        <label>
          <input type="checkbox" name="imgCache"[#if imgCache=="off"#][#else#] checked[#endif#]> Кэшировать рисунки
        </label>
      </div>
</div>


<div class="form-group">
	<label class="col-md-3">Обновлять один раз в</label>
	<div class="col-md-2">
	<select class="form-control" name="update_interval">
		<option value="0"[#if updateTime=="0"#] selected[#endif#]>----</option>
		<option value="1"[#if updateTime=="1"#] selected[#endif#]>час</option>
		<option value="2"[#if updateTime=="2"#] selected[#endif#]>2 часа</option>
		<option value="3"[#if updateTime=="3"#] selected[#endif#]>3 часа</option>
		<option value="4"[#if updateTime=="4"#] selected[#endif#]>4 часа</option>
		<option value="5"[#if updateTime=="5"#] selected[#endif#]>5 часов</option>
	</select> 
	</div>
</div>
		
<div class="form-group">
	<label class="col-md-3">После обновления выполнить сценарий</label>
	<div class="col-md-4">
	<input type="text" name="script" class="form-control" placeholder="Имя сценария" value="[#script#]">
	</div>
</div>
<div class="form-group">
	<button type="submit" name="subm" value="setting" class="btn btn-primary"><#LANG_SUBMIT#></button>
	<a href="?" class="btn btn-default"><#LANG_CANCEL#></a>
</div>
</form>