<link href="../templates/app_yaweather/css/admin.css" rel="stylesheet" type="text/css">
<div class="panel panel-info">
	<div class="panel-heading"><a href="?subm=getWeather" class="btn btn-info" title="Обновить"><span class="glyphicon glyphicon-refresh"></span></a>&nbsp;&nbsp;
Погода в г. [#city#] по состоянию на [#data_update#]</div>
	<div class="panel-body">
<h4>Cейчас</h4>
[#if FACT#]
	[#begin FACT#]
		<div class="yaweather">
			<div class="info">
				<div class="icon"><img src="[#weatherIco#]"></div>
			<div class="temp">[#temperature#]°</div>
			</div>
			<div class="weather_type">[#weatherType#]</div>
			<div class="table"><table width="100%" border="0">
			  <tbody>
				<tr>
				  <td align="right"><#LANG_WIND#>:</td>
				  <td align="left"><div align="right">[#windDirection#]&nbsp;[#windSpeed#]м/с</div></td>
				</tr>
				<tr>
				  <td align="right"><#LANG_HUMIDITY#>:</td>
				  <td align="left"><div align="right">[#humidity#]%</div></td>
				</tr>
				<tr>
				  <td align="right"><#LANG_PRESSURE#>:</td>
				  <td align="left"><div align="right">[#pressure#]</div></td>
				</tr>
			  </tbody>
			</table>
			</div>
			
		</div>
	[#end FACT#]
[#endif FACT#]

[#if FORECAST#]
	
	[#begin FORECAST#]
		<p><h4>[#date#]</h4></p>
		<div style="float:left; display:inline-table;">
			<div><strong>Днём</strong></div>
			<div class="yaweather">
				<div class="info">
					<div class="icon"><img src="[#day_short_weatherIco#]"></div>
				<div class="temp">[#day_short_temperature#]°</div>
				</div>
				<div class="weather_type">[#day_short_weatherType#]</div>
				<div class="table">
					<table width="100%" border="0">
					  <tbody>
						<tr>
						  <td align="right"><#LANG_WIND#>:</td>
						  <td align="left"><div align="right">[#day_short_windDirection#]&nbsp;[#day_short_windSpeed#]м/с</div></td>
						</tr>
						<tr>
						  <td align="right"><#LANG_HUMIDITY#>:</td>
						  <td align="left"><div align="right">[#day_short_humidity#]%</div></td>
						</tr>
						<tr>
						  <td align="right"><#LANG_PRESSURE#>:</td>
						  <td align="left"><div align="right">[#day_short_pressure#]</div></td>
						</tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
		<div style="display:inline-table;">
			<div><strong>Ночью</strong></div>
			<div class="yaweather">
				<div class="info">
					<div class="icon"><img src="[#night_short_weatherIco#]"></div>
				<div class="temp">[#night_short_temperature#]°</div>
				</div>
				<div class="weather_type">[#night_short_weatherType#]</div>
				<div class="table">
					<table width="100%" border="0">
					  <tbody>
						<tr>
						  <td align="right"><#LANG_WIND#>:</td>
						  <td align="left"><div align="right">[#night_short_windDirection#]&nbsp;[#night_short_windSpeed#]м/с</div></td>
						</tr>
						<tr>
						  <td align="right"><#LANG_HUMIDITY#>:</td>
						  <td align="left"><div align="right">[#night_short_humidity#]%</div></td>
						</tr>
						<tr>
						  <td align="right"><#LANG_PRESSURE#>:</td>
						  <td align="left"><div align="right">[#night_short_pressure#]</div></td>
						</tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
[#end FORECAST#]
[#endif FORECAST#]
	</div>		
</div>		
	