@charset "utf-8";
/* CSS Document */

.yaweather {
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	display: inline-block;
	min-width: 230px;
	max-width: 230px;
}
.info {
	/*vertical-align: top;*/
	float: left;
	height: 84px;
	width: 86px;
}
.icon {
	position: relative;
}
.temp {
	position: relative;
	left: 19px;
	top: -20px;
	font-size: 39px;
}

.weather_type {
	
	
}